.userFollower__container {
  /* display: inline-block; */
  /* // FINEX: Use flex column with gap  */
  display: flex;
  flex-direction: column;
  gap: 2;
}

.userFollower__count {
  color: var(--asc-color-base-default);
  margin-right: 0.25rem;
}

.userFollower__label {
  color: var(--asc-color-base-shade2);
}
