.communityRowItem {
  width: 100%;
  gap: 0.75rem;
  display: flex;
  /* // FINEX: Remove padding */
  /* padding: 0.5rem 0; */
  align-items: center;
  justify-content: space-between;
  /* // FINEX: Add pointer */
  cursor: pointer;
  /* // FINEX: Add border-radius */
  border-radius: 0.5rem;
}

/* // FINEX: Add hover state */
.communityRowItem:hover {
  background-color: rgba(0, 0, 0, 0.01);
}

.communityRowItem__image {
  height: 5rem;
  min-width: 5rem;
  max-width: 5rem;
  position: relative;
  border-radius: var(--asc-border-radius-sm);
}

.communityRowItem__order {
  left: 0.5rem;
  bottom: 0.37rem;
  position: absolute;
  color: var(--asc-color-white);
}

.communityRowItem__content {
  width: 100%;
  min-width: 0;
  gap: 0.125rem;
  display: flex;
  flex-direction: column;
}

.communityRowItem__communityName {
  min-width: 0;
  display: flex;
  gap: 0.125rem;
  align-items: center;
  justify-content: start;
}

.communityRowItem__joinButton {
  flex-shrink: 0;
  margin-left: auto;
  /* // FINEX: Don't use flex-end */
  /* align-self: flex-end; */
}
