.myCommunitiesList {
  /* // FINEX: Use flex instead of grid */
  /* display: grid; */
  display: flex;
  /* // FINEX: Use flex-direction column */
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: scroll;
  padding-bottom: 2rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
  min-height: 10rem;
  /* // FINEX: Use transparent background */
  /* background-color: var(--asc-color-background-default); */
}
