.debtFreeCountdown {
  color: var(--asc-color-base-default);
}

.debtFreeCountdown__title {
  line-height: 1;
}

.debtFreeCountdown__daysLeft {
  font-weight: 700;
  color: var(--asc-color-primary-default);
  line-height: 1;
  margin-top: 1px;
}
