.userItem {
  /* // FINEX: Change gap */
  /* gap: 1rem; */
  gap: 0.75rem;
  width: 100%;
  display: grid;
  cursor: pointer;
  padding: 0.5rem 0;
  grid-template-columns: 2.5rem minmax(0, 1fr);
  /* // FINEX: Add border-radius and transition */
  border-radius: 0.5rem;
  transition: background-color 0.1s ease-in-out;
}

/* // FINEX: Add hover effect */
.userItem:hover {
  background-color: var(--asc-color-background-shade1);
}

.userItem[data-focus-visible] {
  background-color: var(--asc-color-base-shade4);
}

.userItem__leftPane {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userItem__rightPane {
  display: flex;
  justify-content: center;
  /* // FINEX: Change align-items to start */
  /* align-items: center; */
  align-items: start;
  /* // FINEX: Add flex-direction column */
  flex-direction: column;
  width: 100%;
  /* FINEX: Comment out gap */
  /* gap: 0.25rem; */
}

.userItem__avatar {
  width: 2.5rem;
  height: 2.5rem;
}

.userItem__brandIcon__container {
  width: 1.125rem;
  height: 1.125rem;
}

.userItem__brandIcon {
  width: 1.125rem;
  height: 1.125rem;
}

.userItem__userName {
  display: flex;
  justify-content: start;
  align-items: last baseline baseline;
  gap: 0.25rem;
  width: 100%;
  color: var(--asc-color-base-default);
  overflow: hidden;
  text-overflow: ellipsis;
}

.userItem__userName__text {
  overflow: hidden;
  text-overflow: ellipsis;
}
