.divider {
  width: 100%;
  /* // FINEX: Change height from 0.5rem to 0.75rem */
  min-height: 0.75rem;
  /* // FINEX: Make background transparent */
  /* background-color: var(--asc-color-base-shade4); */
}

@media (width >= 48em) {
  .divider {
    min-height: 0.75rem;
    /* // FINEX: Make background transparent */
    /* background-color: var(--asc-color-background-shade1); */
  }

  /* // FINEX: Create isShownOnlyInMobile class */
  .divider__isShownOnlyInMobile {
    display: none;
  }
}

@media (width < 48em) {
  .divider {
    /* // FINEX: Make background transparent */
    /* background-color: var(--asc-color-base-shade4); */
  }
}
