.floatingActionButton {
  width: 4rem;
  height: 4rem;
  border: none;
  display: flex;
  cursor: pointer;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  box-shadow: var(--asc-box-shadow-04);
  background-color: var(--asc-color-primary-default);
  /* // FINEX: Use fixed and adjust bottom */
  position: fixed;
  bottom: calc(5rem + var(--safe-area-bottom));
  right: 1.4rem;
}

.floatingActionButton__icon {
  width: 2rem;
  height: 2rem;
  fill: var(--asc-color-white);
}

.floatingActionButton:hover {
  background-color: var(--asc-color-primary-background-hover);
}

.floatingActionButton:active {
  background-color: var(--asc-color-primary-background-pressed);
}
