.createPostMenu {
  background-color: var(--asc-color-background-default);
  /* // FINEX: Change padding */
  /* padding: 0.75rem 1rem; */
  padding: 0 1rem;
  border-radius: 0.75rem;
  width: 100%;
  /* // FINEX: Comment out shadow */
  /* box-shadow: var(--asc-box-shadow-03); */
}
