.myCommunitiesList {
  height: 100%;
  width: 100%;
  /* // FINEX: Remove padding so divider can be full width */
  /* padding: 0 1rem; */
  background-color: var(--asc-color-background-default);
}

/* // FINEX: Add separate container with padding */
.myCommunitiesListContainer {
  padding: 0 1rem;
}
