.myCommunitiesList {
  height: 100%;
  width: 100%;
  /* // FINEX: Remove padding so divider can be full width */
  /* padding: 0 1rem; */
}

/* // FINEX: Add separate container */
.myCommunitiesList__container {
  padding: 0 1rem;
  background-color: var(--asc-color-background-default);
  border-top: 1px solid var(--asc-color-base-shade4);
  border-bottom: 1px solid var(--asc-color-base-shade4);
}
