.communitySideBar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* // FINEX: Don't use border-right */
  /* border-right: 1px solid var(--asc-color-base-shade4); */
  /* // FINEX: Don't use background-color */
  /* background-color: var(--asc-color-background-default); */
}

.communitySideBar__header {
  gap: 1rem;
  padding: 1rem;
  display: grid;
  flex-shrink: 0;
}

.communitySideBar__menuSection {
  flex-shrink: 0;
  display: grid;
  grid-gap: 0.5rem;
  padding: 0.5rem 0;
  border-top: 1px solid var(--asc-color-base-shade4);
}

.communitySideBar__myCommunitiesSection {
  display: grid;
  grid-gap: 0.5rem;
  padding: 0.5rem 0;
  border-top: 1px solid var(--asc-color-base-shade4);
  overflow-y: auto;
}

.sideBar__content {
  max-height: 55vh;
  overflow-y: scroll;
  padding-bottom: 1rem;
}
