.topNavigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--asc-color-background-default);
  height: 3.625rem;
}

.topNavigationLeftPane {
  display: flex;
  gap: 0.625rem;
  justify-content: center;
  align-items: center;
}

.topNavigationRightPane {
  display: flex;
  gap: 0.625rem;
  justify-content: center;
  align-items: center;
}

/* // FINEX: Add button placeholder styling */
.topNavigationRightPane__buttonPlaceholder {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--asc-color-secondary-shade4);
}