/* .debtFreeCountdownBadge {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  line-height: 1;
} */

.debtFreeCountdownBadge {
  background-color: var(--asc-color-primary-shade3);
  color: var(--asc-color-primary-default);
  font-weight: 700;
  font-size: 0.65rem;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  line-height: 1;
  cursor: pointer;
  transition: border-color 0.1s ease-in-out;
  border: 1px solid transparent;
}

.debtFreeCountdownBadge:hover {
  border-color: var(--asc-color-primary-default);
}

.debtFreeCountdownBadge:active {
  transform: scale(0.97);
}

/* .debtFreeCountdownBadge__separator {
  color: var(--asc-color-base-shade2); */
  /* // FINEX: Nudge separator up */
  /* position: relative;
  top: -2px;
} */