.emptyNewsfeed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* // FINEX: Comment out height and background-color */
  /* height: 100%;
  background-color: var(--asc-color-background-default); */
}

/* // FINEX: Add container */
.emptyNewsfeed__container {
  padding: 20px 0;
}

.emptyNewsfeed__text {
  padding-bottom: 1.0625rem;
}
