.myCommunitiesSideBarItem {
  gap: 1rem;
  /* // FINEX: Change to flex */
  display: flex;
  /* // FINEX: Reduce horizontal padding from 1rem to 0.5rem */
  padding: 0.5rem 0.5rem;
  /* // FINEX: Comment out grid template columns */
  /* grid-template-columns: 2rem 12.5rem; */
  /* // FINEX: Add border-radius */
  border-radius: 0.5rem;
  /* // FINEX: Add margin-left */
  margin-left: 0.5rem;
}

.myCommunitiesSideBarItem:hover,
.myCommunitiesSideBarItem:focus-within {
  /* // FINEX: Use gray shade to be similar to Finex styling */
  /* background-color: var(--asc-color-background-shade1); */
  background-color: #f5f5f5;
}

.myCommunitiesSideBarItem[data-selected='true'] {
  background-color: var(--asc-color-primary-shade3);
}

.myCommunitiesSideBarItem__image {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  /* // FINEX: Prevent image shrinking */
  flex-shrink: 0;
}

.myCommunitiesSideBarItem__imageIcon {
  width: 100%;
  height: 100%;
  fill: var(--asc-color-primary-shade2);
}

.myCommunitiesSideBarItem__content {
  gap: 0.25rem;
  /* // FINEX: Don't set width */
  /* width: 100%; */
  /* // FINEX: Don't use grid */
  /* display: grid; */
  /* // Finex: Set line-height of 1 */
  line-height: 1;
  /* // FINEX: Set min-width 0 as workaround to fill child element's width */
  min-width: 0;
  /* // FINEX: Use flex 1 */
  flex: 1;
}

.myCommunitiesSideBarItem__communityName {
  display: flex;
  /* // FINEX: Don't set width */
  /* width: 12.5rem; */
  align-items: center;
  justify-content: start;
  /* // FINEX: Set height to 1rem */
  height: 1rem;
}

.myCommunitiesSideBarItem__communityName__private {
  display: flex;
  align-items: center;
  justify-content: center;
}

.myCommunitiesSideBarItem__communityName__privateIcon {
  fill: var(--asc-color-base-default);
}

.myCommunitiesSideBarItem__communityName[data-selected='true']
  .myCommunitiesSideBarItem__communityName__privateIcon {
  fill: var(--asc-color-primary-default);
}

.myCommunitiesSideBarItem__communityDisplayName {
  color: var(--asc-color-base-default);
}

.myCommunitiesSideBarItem__communityName__officialBadge {
  height: 1rem;
  width: 1.25rem;
}

.myCommunitiesSideBarItem__communityName[data-selected='true']
  .myCommunitiesSideBarItem__communityDisplayName {
  color: var(--asc-color-primary-default);
}

.myCommunitiesSideBarItem__categories {
  width: 12.5rem;
  flex-wrap: nowrap;
}
